<div class="dashboard">
  <div class="dashboard-header">
    <div style="margin: 0 auto">
      <h2>Your Posts</h2>
    </div>
    <div style="display: flex;">
      <button mat-button color="warn" class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </div>
  <!-- Button to open modal -->
  <button (click)="openCreatePostModal()" class="create-btn">
    + Create Post
  </button>
  <div class="posts-container">
    @if ((posts$ | async)?.length === 0) {
      <div style="margin: 0 auto">
        <p>No posts found.</p>
      </div>
    } @else {
      @for (post of posts$ | async; track post.id) {
        <app-post-card [post]="post"></app-post-card>
      }
    }
  </div>

  <!-- Modal component -->
  <app-create-post-modal
    *ngIf="isModalOpen"
    (close)="closeCreatePostModal()"
    (postCreated)="addPost($event)">
  </app-create-post-modal>
</div>
