.dashboard {
   background: #f0f4f8;
   height: 100%;
}
.posts-container {
  display: flex;
  font-size: 1.1rem;
  color: #777;
  text-align: center;
  margin-top: 40px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding: 12px 20px;
  background: #f0f4f8;
  border-radius: 8px;
}
.dashboard-header h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
  margin: 20px 20px 20px auto;
}


.logout-btn {
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px 20px 20px auto;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background: linear-gradient(135deg, #66a6ff, #89f7fe);
  transform: translateY(-2px);
}

.logout-btn:active {
  transform: translateY(0); /* reset lift on click */
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

